<!DOCTYPE html>
<html lang="en">
{{/*This is the about us page, where we talk about us*/}}
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../public/styles/artist.css">
    <style>
        img {
            width:10%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            font-size:2vw ;
            text-align: center;
            width: auto;
        }
    </style>
</head>
<body>
<h1 style="text-align: center; font-size:3vw;">Hello !</h1>
<p><b>We are two young entrepreneurs who want to share our passion for music with you</b> </p>
<img src="https://media.discordapp.net/attachments/917437857243734070/941356472271523890/Snapchat-1619289570.jpg?width=348&height=670">
<p><i>Lucas Escaffre</i></p>
<img src="https://media.discordapp.net/attachments/526813137450696732/886617987430375434/20210912_161833.jpg?width=604&height=670">
<p><i>Dan Fauconnier</i></p>
<p><i><b>We hope you enjoy our project, have fun !</b></i></p>
</body>
</html>