<!DOCTYPE html>
<!-- This is the main page of the game, where we can play the hangman game and see the attempts,the right letters or
wrong letters, the hangman and the hidden word, with an input to  choose a letter//-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groupie-tracker</title>
    <link rel="stylesheet" href="../public/groupie-style.css">
</head>
<body>
<div class="full-page">
    <div class="left-page">
        <div class="name">
            {{- /*gotype: groupie-tracker/structures.Artists*/ -}}
            {{range .}}
                {{ range $artist := .}} {{- /*Take the Artist array with . and stock every artist one by one in $artist*/ -}}
                {{/* print all image in the page */}}
                <div> {{$artist}} </div>
                {{end}}
            {{end}}
        </div>
    </div>
</div>
</body>
</html>