{{- /*gotype: groupie-tracker/structures.Artist*/ -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.}}</title>
    <link rel="stylesheet" href="../public/artist.css">
</head>
<body>
<div>
    {{.}} </div>
</body>
</html>